#tb_label_popuplink {
  background-image: url(thunderbird_32.png);
  /*background-repeat: repeat;*/
  background-position: 50% 0px;
  width: 32px;
  height: 13px;
  padding: 28px 2px 0px 2px;
  margin: 0px 5px 0px 5px;
}

#tb_label_popup
{
  width: auto;
  position: absolute;
}

#tb_label_popup a.active
{
  color: inherit; /* fix for firefox */
}

.toolbarmenu li.label0,
.toolbarmenu li.label0 a.active
{
  color: #EEE;
}

span.tb_label_dots {
  /* position: absolute;
  display: block; */
  right: 3px;
  top: 1.2em;
  height: 0px;
}

/* hack for firefox : doesnt display the bullets at the correct height */
@-moz-document url-prefix() {
  span.tb_label_dots {
    top: -19px;
  }
}

span.tb_label_dots span {
  font-size: 32px;
  vertical-align: middle;
  line-height: 0px;
}


/* this goes into preview of an email */
div#labelbox {
  white-space: nowrap;
  position: absolute;
  right: 67px;
  top: 40px;
}

div#labelbox span {
    margin: 0 3px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    font-weight: bold;
}

/* icon for settings-section */
#sections-table tbody #rcmrowthunderbird_labels td.section {
	background-image: url(thunderbird_24.png);
	background-position: 3px 3px;
}

